@using GameLib.Repository.Dtos
@model AchievementCreateModel
@{
  

}
<h1>Edit Achievement</h1>
<form asp-action="Create" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">

            <div data="mb-3">
                @Html.LabelFor(m => m.Title, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div data="mb-3">
                @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div data="mb-3">
                @* @Html.DisplayNameFor(model => model.Game) *@
                @Html.HiddenFor(model => model.GameId)
                @* <select class="form-select" id="publishers" name="Publisher">
                    @foreach (var g in games)
                    {
                        var selected = Model.Game.Title == g.Title ? true : false;
                        <!option value="@g.Id" @(selected ? "selected" : "")>@g.Title</!option>
                    }
                </select> *@

            </div>
            
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Зберегти</button>
        </div>
    </div>

</form>
