@model RatingCreateModel
@{

}
<h1>Create Rating</h1>
<form asp-action="Create" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-6">
            <input type="hidden" name="GameId" value="@Model.GameId" />
            <input type="hidden" name="UserId" value="@Model.UserId" />

            <div data="mb-3">
                @Html.DisplayNameFor(model => model.RatingValue)
                @Html.EditorFor(model => model.RatingValue, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @max = "5" } })
            </div>
            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Comment)
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
            </div>
           @*  <div data="mb-3">
                @Html.LabelFor(m => m.GameId, new { @class = "form-label" })
                @Html.ListBoxFor(m => m.GameId, new SelectList(game, "Title"), new { @class = "form-control select2" })
            </div>
            <div data="mb-3">
                @Html.LabelFor(m => m.UserId, new { @class = "form-label" })
                @Html.ListBoxFor(m => m.UserId, new SelectList(user, "Username"), new { @class = "form-control select2" })
            </div> *@
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Зберегти</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            $("#game").select2();
        })
    </script>
}