@model RatingEditUserModel
@{

}
<h1>Edit Rating</h1>
<form asp-action="EditUser" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.GameId)
            <div data="mb-3">
                @Html.DisplayNameFor(model => model.RatingValue)
                <input asp-for="RatingValue" readonly hidden class="form-control" type="number" step="0.1" />
                <div class="my-rating-4 my-3"></div>

            </div>
            <div data="mb-3">
                @Html.DisplayNameFor(model => model.Comment)
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Зберегти</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <script src="~/js/jquery.star-rating-svg.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            $("#game").select2();
        })
        $(function () {

            $(".my-rating-4").starRating({
                totalStars: 5,
                starSize: 30,
                emptyColor: 'lightgray',
                hoverColor: 'salmon',
                activeColor: 'cornflowerblue',
                strokeWidth: 0,
                useGradient: false,
                callback: function (currentRating, $el) {
                    $("#RatingValue").val(currentRating);
                }
            });

            $(".my-rating-7").starRating({
                initialRating: 4,
                readOnly: true,
                starShape: 'rounded'
            });

        });
    </script>


}