@model GameTimeEditModel
@{

}
<h1>Edit GameTime</h1>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            <p>@Model.Id</p>
            <p>@Model.GameId</p>
            @Html.HiddenFor(model => model.GameId)
            @* <input type="hidden" name="GameId" value="@Model.GameId" />
            <input type="hidden" name="UserId" value="@Model.UserId" /> *@
            <div class="mb-3">
                <lable>Add time</lable>
                <input type="time" value="model.TotalTime" asp-for="TotalTime" />
                <small class="form-text text-muted">Enter time</small>
            </div>

            <div data="mb-3">
                <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Edit</button>
            </div>
        </div>
    </div>
</form>
