@model List<GameTimeViewModel>

<h1>Game Times</h1>
<div class="mb-3">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</div>

@if(Model.Count == 0)
{
    <p>No game times found</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Game.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].LastPlayed.ToString("dd-mm-yyyy"))
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].TotalTime.TotalHours)
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Game.Title)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => Model[0].User.UserName)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <form asp-action="Delete" enctype="multipart/form-data">
                            <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
