@page
@model GameListModel
@{
    ViewData["Title"] = "Game list";
    ViewData["ActivePage"] = ManageNavPages.GameList;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        @if (Model.Games.Count == 0)
        {
            <p>You haven`t games.</p>
        }
        else
        {
            @foreach (var item in Model.Games)
            {
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 18rem;">
                        @* <div class="image" style="background-image: url(@item.Image)"></div> *@
                        <img src="@item.Image" class="card-img-top" alt="Product photo">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <h6 class="card-text">@item.Price</h6>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <form asp-action="Delete" enctype="multipart/form-data">
                                    <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</button>
                                </form>
                            }

                        </div>
                    </div>
                </div>
            }
        }
        

    </div>

</div>