@model PaymentCreateModel
@{
    var users = ViewBag.Users as List<UserDto>;
    var games = ViewBag.Games as List<GameViewModel>;
}
<h1>Create Payment</h1>

<form asp-action="Create" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row">
  
        <div class="col-md-6">
            <div data="d-flex justify-content-between align-items-center mb-3">
                @Html.LabelFor(m => m.Game.Id, new { @class = "form-label" })
                @Html.ListBoxFor(m => m.Game.Id, new SelectList(games, "Title"), new { @class = "form-control select2" })
            </div>
            <div data="d-flex justify-content-between align-items-center mb-3">
                @Html.LabelFor(m => m.User.Id, new { @class = "form-label" })
                @Html.ListBoxFor(m => m.User.Id, new SelectList(users, "UserName"), new { @class = "form-control select2" })
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-outline">
                    <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                           placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                    <label class="form-label" for="typeText">Card Number</label>
                </div>

            </div>

            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-outline">
                    <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                           placeholder="Cardholder's Name" />
                    <label class="form-label" for="typeName">Cardholder's Name</label>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center pb-2">
                <div class="form-outline">
                    <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY"
                           size="7" minlength="7" maxlength="7" />
                    <label class="form-label" for="typeExp">Expiration</label>
                </div>
                <div class="form-outline">
                    <input type="password" id="typeText2" class="form-control form-control-lg"
                           placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                    <label class="form-label" for="typeText2">Cvv</label>
                </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Зберегти</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script>
        $(function () {
            $("#game").select2();
        })
    </script>
}